<tr>
  <td>
    <%= link_to ticket.name, ticket_path(ticket) %>
  </td>
  <td>
    <%= ticket.tags.map{|t| t.name}.join(', ') %>
  </td>
  <td>
    <%= ticket.status.name %>
  </td>
  <td>
    <%= ticket.creator.name%>
  </td>
  <td>
    <% if ticket.assignee%>
      <%= ticket.assignee.name%>
    <% end %>
  </td>
  <td>
    <% if logged_in? %>
      <%= link_to 'Edit', edit_ticket_path(ticket) %>
      <%= link_to 'Delete', ticket_path(ticket), method: :delete%>
    <% end %>

</tr>
