<h1>Tickets</h1>
<div>
  Show tickets from
  <%= form_tag tickets_path, method: :get do %>
    <%= select_tag :project, options_from_collection_for_select(Project.all, :id, :name, params[:project]) %>
    <%= submit_tag 'Update' %>
  <% end %>
</div>

<% if @tickets.any? %>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Tags</td>
          <td>Status</td>
          <td>Creator</td>
          <td>Assignee</td>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |t| %>
          <%= render 'tickets/ticket', ticket: t %>
        <% end %>
      </tbody>
    </table>
<% else %>

  <p>
    There are no tickets yet!
  </p>

<% end %>

<%= link_to "New Ticket", new_ticket_path() %>
